body {
    font-family: 'Muli', sans-serif;
}

#iconz {
    color: #770909;
    padding: 2px;
}

#aboutmecontainer {
    background-image: url('/images/Tulum.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#aboutmecontent {
    background-color: rgba(0, 0, 0, 0.48);
}

#backgroundallpages {
    background-color: #292828;
}

.parallax-a {
    /* The image used */
    background-image: url("/images/w3landscape2.png");
    overflow: hidden;
    /* Set a specific height */
    height: 800px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}
